<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>D06swift_address02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>515B8FF31D29E4B100B1B71D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>515B900A1D29E4B100B1B71D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>515B90151D29E4B100B1B71D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
